.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

li:hover {
  background-color: #61dafb;
  transform: scale(1.05);
}

li:active {
  background-color: #21a1f1;
  transform: scale(1);
}
